/* ::::::::::::::::::::::::::::::
    Custom css Linking Start
::::::::::::::::::::::::::::::::*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* ::::::::::::::::::::::::::::::
    Custom css Linking End
::::::::::::::::::::::::::::::::*/

body {
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

header{
    background-image: url(../images/25.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-top .nav-link{
    color: #348e38;
}

.header-bottom .nav-item .nav-link.active, .dropdown-menu li {
    font-size: 19px;
    font-weight: 500;
    color: #348e38;
}

/* Bg Light Design Start */
.bg-light {
    padding: 30px 15px;
    border-radius: 20px;
}
/* Bg Light Design End */
.header-bottom .nav-item .nav-link.active:hover,
.header-bottom .nav-item .nav-link:hover {
    font-size: 19px;
    font-weight: 500;
    color: #348e38;
    border-bottom: 5px solid#348e38;
}

.header-bottom .nav-item .nav-link {
    font-size: 19px;
    font-weight: 500;
    color: #181818;
    padding: 0px 16px;
}

.header-bottom .dropdown-item:hover {
    background: #348e38;
    color: #fff;
}

.dropdown-divider{
    background:  #348e38;
}

ul.dropdown-menu.show {
    box-shadow: 1px 10px 15px #ccc;
    border: 2px solid #348e38;
}

/* Search Icon Start */
.header-bottom .box{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 21px 10px;
    background: #E8F6E9;
    border-radius: 30px;
    align-items: center;
    box-shadow: 1px 10px 15px #ccc;
}

.header-bottom .box:hover input {
    width: 250px;
    padding: 0 20px;
}

.header-bottom .box input{
    width: 0;
    height: 200px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.header-bottom .box .search-icon{
    color: #348e38;
    font-size: 20px;
}
/* Search Icon End */