/* ::::::::::::::::::::::::::::::
    Custom css Linking Start
::::::::::::::::::::::::::::::::*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap');

/* ::::::::::::::::::::::::::::::
    Custom css Linking End
::::::::::::::::::::::::::::::::*/

body {
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

header{
    background-image: url(../images/25.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-top .nav-link{
    color: #348e38;
}

.header-bottom .nav-item .nav-link.active, .dropdown-menu li {
    font-size: 19px;
    font-weight: 500;
    color: #348e38;
}

/* Bg Light Design Start */
.bg-light {
    padding: 30px 15px;
    border-radius: 20px;
}
/* Bg Light Design End */
.header-bottom .nav-item .nav-link.active:hover,
.header-bottom .nav-item .nav-link:hover {
    font-size: 19px;
    font-weight: 500;
    color: #348e38;
    border-top: 5px solid#348e38;
}

.header-bottom .nav-item .nav-link {
    font-size: 19px;
    font-weight: 500;
    color: #181818;
    padding: 0px 16px;
}

.header-bottom .dropdown-item:hover {
    background: #348e38;
    color: #fff;
}

.dropdown-divider{
    background:  #348e38;
}

ul.dropdown-menu.show {
    box-shadow: 1px 10px 15px #ccc;
    border: 2px solid #348e38;
}

/* Search Icon Start */
.header-bottom .box{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 21px 10px;
    background: #E8F6E9;
    border-radius: 30px;
    align-items: center;
    box-shadow: 1px 10px 15px #ccc;
}

.header-bottom .box:hover input {
    width: 250px;
    padding: 0 20px;
}

.header-bottom .box input{
    width: 0;
    height: 200px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.header-bottom .box .search-icon{
    color: #348e38;
    font-size: 20px;
}
/* Search Icon End */


/* :::::::::::::::::::::::::::::::::::::::
    Banner part CSS code Start
::::::::::::::::::::::::::::::::::::::::*/

.banner-part p, .about-right p{
    font-family: 'Josefin Sans', sans-serif;
    color: #348e38;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;

}
.banner-part h1{
    font-family: 'Josefin Sans', sans-serif;
    color: #0f4229;
    font-size: 55px;

}

.quote,
.read:hover {
    background-color: #348e38;
    color: #fff;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 11px;
    border: 2px solid #348e38;
    margin-right: 25px;
    transition: 0.3s;
}

.quote:hover,
.read{
    background-color: transparent;
    color: #348e38;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 11px;
    border: 2px solid #ccc;
    transition: 0.3s;
}

.right-banner img{
    width: 100%;
    margin: -60px 0px -5px 0px;
}

/* :::::::::::::::::::::::::::::::::::::::
    Banner part CSS code End
::::::::::::::::::::::::::::::::::::::::*/

/* :::::::::::::::::::::::::::::::::::::::
    Planning part CSS code Start
::::::::::::::::::::::::::::::::::::::::*/
.landscaping{
    align-items: center;
    box-shadow: 1px 4px 13px #ccc;
    padding: 100px 10px 80px;
    border-radius: 15px;
    height: 10em;
    transition: 0.5s;
}

.landscaping:hover{
    margin: -25px 0px;
    transform: 5px;
}

.landscaping img{
    width: 80%;
}

.landscaping h1{
    font-size: 21px;
    font-weight: 600;
    color: #0f4229;
    align-items: center;
}

.landscaping p{
    color: #348e38;
    font-size: 15px;
    align-items: center;
}
/* :::::::::::::::::::::::::::::::::::::::
    Planning part CSS code End
::::::::::::::::::::::::::::::::::::::::*/

/* :::::::::::::::::::::::::::::::::::::::
    About Section CSS code Start
::::::::::::::::::::::::::::::::::::::::*/
.background-img{
    background-image: url(../images/26.png);
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    top: -145px;
}

#aboutimg{
    width: 100%;
    border-radius: 50%;
    position: relative;
    top: 196px;
}

.about-right h1{
    font-family: 'Jost', sans-serif;
    color: #181818;
    font-size: 50px;

}
/* :::::::::::::::::::::::::::::::::::::::
    About Section CSS code End
::::::::::::::::::::::::::::::::::::::::*/