/* ::::::::::::::::::::::::::::::
    Custom css Linking Start
::::::::::::::::::::::::::::::::*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap');

/* ::::::::::::::::::::::::::::::
    Custom css Linking End
::::::::::::::::::::::::::::::::*/

body {
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

header{
    background-image: url(../images/25.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-top .nav-link{
    color: #348e38;
}

.header-bottom .nav-item .nav-link.active, .dropdown-menu li {
    font-size: 19px;
    font-weight: 500;
    color: #348e38;
}

/* Bg Light Design Start */
.bg-light {
    padding: 30px 15px;
    border-radius: 20px;
}
/* Bg Light Design End */
.header-bottom .nav-item .nav-link.active:hover,
.header-bottom .nav-item .nav-link:hover {
    font-size: 19px;
    font-weight: 500;
    color: #348e38;
    border-top: 5px solid#348e38;
}

.header-bottom .nav-item .nav-link {
    font-size: 19px;
    font-weight: 500;
    color: #181818;
    padding: 0px 16px;
}

.header-bottom .dropdown-item:hover {
    background: #348e38;
    color: #fff;
}

.dropdown-divider{
    background:  #348e38;
}

ul.dropdown-menu.show {
    box-shadow: 1px 10px 15px #ccc;
    border: 2px solid #348e38;
}

/* Search Icon Start */
.header-bottom .box{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 21px 10px;
    background: #E8F6E9;
    border-radius: 30px;
    align-items: center;
    box-shadow: 1px 10px 15px #ccc;
}

.header-bottom .box:hover input {
    width: 250px;
    padding: 0 20px;
}

.header-bottom .box input{
    width: 0;
    height: 200px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.header-bottom .box .search-icon{
    color: #348e38;
    font-size: 20px;
}
/* Search Icon End */


/* :::::::::::::::::::::::::::::::::::::::
    Banner part CSS code Start
::::::::::::::::::::::::::::::::::::::::*/

.banner-part p, .about-right p{
    font-family: 'Josefin Sans', sans-serif;
    color: #348e38;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;

}
.banner-part h1{
    font-family: 'Josefin Sans', sans-serif;
    color: #0f4229;
    font-size: 55px;

}

.quote,
.read:hover {
    background-color: #348e38;
    color: #fff;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 11px;
    border: 2px solid #348e38;
    margin-right: 25px;
    transition: 0.3s;
}

.quote:hover,
.read{
    background-color: transparent;
    color: #348e38;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 11px;
    border: 2px solid #348e38;
    transition: 0.3s;
}

.right-banner img{
    width: 100%;
    margin: -60px 0px -5px 0px;
}

/* :::::::::::::::::::::::::::::::::::::::
    Banner part CSS code End
::::::::::::::::::::::::::::::::::::::::*/

/* :::::::::::::::::::::::::::::::::::::::
    Planning part CSS code Start
::::::::::::::::::::::::::::::::::::::::*/
.landscaping{
    align-items: center;
    box-shadow: 1px 4px 13px #ccc;
    padding: 100px 10px 80px;
    border-radius: 15px;
    height: 10em;
    transition: 0.5s;
}

.landscaping:hover{
    margin: -25px 0px;
    transform: 5px;
}

.landscaping img{
    width: 80%;
}

.landscaping h1{
    font-size: 21px;
    font-weight: 600;
    color: #0f4229;
    align-items: center;
}

.landscaping p{
    color: #348e38;
    font-size: 15px;
    align-items: center;
}
/* :::::::::::::::::::::::::::::::::::::::
    Planning part CSS code End
::::::::::::::::::::::::::::::::::::::::*/

/* :::::::::::::::::::::::::::::::::::::::
    About Section CSS code Start
::::::::::::::::::::::::::::::::::::::::*/
.background-img{
    background-image: url(../images/26.png);
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    top: -145px;
}

#aboutimg{
    width: 100%;
    border-radius: 50%;
    position: relative;
    top: 196px;
}

.about-right h1{
    font-family: 'Jost', sans-serif;
    color: #181818;
    font-size: 50px;

}

.about_left_part{
    align-items: center;
    padding: 100px 10px 80px;
    border-radius: 15px;
    height: 10em;
    transition: 0.5s;
}

.about_left_part img{
    width: 80%;
}

.about_left_part h1{
    font-size: 21px;
    font-weight: 600;
    color: #0f4229;
    align-items: center;
}

.about_left_part p{
    color: #348e38;
    font-size: 15px;
    align-items: center;
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: true;
}
  
.number {
    transition: --num 1s;
    counter-set: num var(--num);
    font: 800 42px system-ui;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

  .number::after {
    content: counter(num);
}
.experience-count:hover, .number:hover {
    --num: 20;
}
  
.experience-count {
    background-color: #348e38;
    padding: 15px 28px;
    width: 50%;
    border-radius: 20px;
}
.count_part{
    border: 1px solid #fff;
    padding: 12px 9px 0px 8px;
    border-radius: 10px;
}

.count-right h4{
    font: 600 30px system-ui;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

/* :::::::::::::::::::::::::::::::::::::::
    About Section CSS code End
::::::::::::::::::::::::::::::::::::::::*/

/* :::::::::::::::::::::::::::::::::::::::
    what_do_section CSS code Start
::::::::::::::::::::::::::::::::::::::::*/
.what_do_section{ 
    background-image: linear-gradient(to left, rgba(119, 161, 87, 0.2), rgb(196 253 211 / 71%)) ,url(../images/13.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.what_do_section p{
    font-family: 'Josefin Sans', sans-serif;
    color: #348e38;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;

}
.what_do_section h1{
    font-family: 'Jost', sans-serif;
    color: #181818;
    font-size: 50px;

}

.do_first{
    align-items: center;
    background-color: #4fac54;
    box-shadow: 1px 4px 13px #ccc;
    padding: 100px 10px 80px;
    border-radius: 15px;
    height: 10em;
    transition: 0.5s;
}

.do_first:hover{
    background-image: linear-gradient(to left, rgba(119, 161, 87, 0.2), rgb(21 33 50 / 87%)) ,url(../images/30.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    transform: 0.7s;
}

.do_first img{
    width: 80%;
}

.do_first h1{
    font-size: 21px;
    font-weight: 600;
    color: #fff;
    align-items: center;
}

#do_paragraph{
    color: #fff;
    font-size: 16px;
    align-items: center;
}

#read{
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    text-decoration: none;

}

/* :::::::::::::::::::::::::::::::::::::::
    what_do_section CSS code End
::::::::::::::::::::::::::::::::::::::::*/

/* :::::::::::::::::::::::::::::::::::::::
    Team-section CSS code Start
::::::::::::::::::::::::::::::::::::::::*/
.team-section{
    background-image: linear-gradient(to left, #0f5132f2, #0f5132b8) ,url(../images/compute-ea4c57a4-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.team-top  p{
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;

}
.team-top  h1{
    font-family: 'Jost', sans-serif;
    color: #fff;
    font-size: 50px;

}


/* Card Design Start */
.card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 190vh; */
    /* background: linear-gradient(45deg, #fbda61, #ff5acd); */
}
.card {
    position: relative;
    width: 350px;
    height: 190px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.card:hover{
    height: 450px;
}

.imgBx{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .imgBx{
    width: 250px;
    height: 250px;
}
.imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
}

.card:hover .content .details{
    transform: translateY(0px);
}

.card .content .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;

}

.card .content .details h2 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}

.card .content .details .data{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card .content .details .data h3{
    font-size: 1em;
    color: #555;
    line-height: 1.2rem;
    font-weight: 600;

}

.card .content .details .data h3 span{
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.5;
}

.card .content .details .actinBtn {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */

}

.card .content .details .actinBtn button{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #ff5f95;
    color: #fff;
    cursor: pointer;
}

.card .content .details .actinBtn button:nth-child(2){
    border: 1px solid #999;
    color: #999;
    background: #fff;
}

/* Card Design End */

/* :::::::::::::::::::::::::::::::::::::::
    Team-section CSS code End
::::::::::::::::::::::::::::::::::::::::*/